<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="row" style="margin-top: 20%;margin-left: 0%;">
				<a href="/addRealestate">
				<div class="span2 well">
				Post Ad Buy/Sell of Realestate
				</div></a>
			</div>
			<div class="row" style="margin-left: 15%;margin-top: 10%;">
				<label style="margin-bottom:5%">Filters</label>
				<hr style="margin:0">
			</div>
		
		</div>
		<div class="col-md-9">
			<h1>List of all realestate.</h1>
			<!--<ul ng-repeat="post in posts">
	<li>
		<a ng-href="/viewRealestate/{{post.id}}"> {{post.title}}</a>
		<div class="row">{{post.description}}</div>
		<div class="row">{{post.adType}}</div>
	</li>
</ul>-->
			<div class="list-group" ng-repeat="post in posts">
				<a ng-href="/viewRealestate/{{post.id}}" class="list-group-item list-group-item-success">
    		<h4 class="list-group-item-heading">{{post.title}}</h4>
   			 <p class="list-group-item-text">
					{{post.description}}
				{{post.adType}}
			</p>
			</a>
			</div>
		</div>
	</div>
</div>