<section class="viewBackground">
	<h2>Ad Details</h2>
	<div class="row" style="margin-left:0px;">
		<div class="col-md-6">
			<h4>
				<b>{{carBike.title}}</b>
			</h4>
			<ul class="list-unstyled">
				<li>
					<b>Description</b>
					<hr>
				</li>
				<li>{{carBike.description.description}}</li>
				<li style="margin:2px">
					<b>Contact</b>
					<hr>
				</li>
				<li>Email : {{carBike.description.email}}</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Preview Images</h2>
		</div>
	</div>
</section>